body {
  font-size: 16px;
  background: #000;
  background-image: url("../media/pics/Yamaha_Oak_Drumset_-_top.jpg");
  background-position: bottom center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  color: white;
  background: rgba(255,255,255,0.1);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border: 0.5rem solid white;
  border-radius: 1.5rem;
  margin: 0.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  background: rgba(255,0,0,0.7);
  box-shadow: 0 0 1rem white;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: inherit;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}
